
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
    --primary-color: #521fed;
    --secondary-color: #ece9fc;
    --hover-brightness: 0.8;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: #f9f8fe;
}
.title-queue, h1, .readme-head {
    padding: 20px 0px 0px 50px;
    color: #521fed;
    font-family: "Roboto Mono";
    font-weight: 700;
    transition: transform 0.3s ease;
    transform-origin: top left;
}
.title-queue:hover, h1:hover, .readme-head:hover {
    text-decoration: underline #f4759a;
}

h2 {
    font-size: 18px;
}

.readme-head {
    font-size: 40px;
}

.styled-section {
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ece9fc;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Roboto Mono";
}


/* Body Content */
.body-content {
    margin: 0px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between sections */
    background-color: #f9f8fe;
}

::placeholder{
    font-size: 12px;
    font-family: "Roboto Mono";
    color:#949494;
}

/* Section */
section {
    display: flex;
    flex-direction: column; /* Stack content vertically inside the section */
    width: 100%;
    max-width: 1200px; /* Limit the max width */
}

/* Flexbox for responsive design */
.section-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-column {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 5px rgba(179, 179, 179, 0.5);
    border-radius: 10px;
}

/* Responsive Design */
@media (min-width: 768px) {
    .body-content {
        flex-direction: row; /* Align sections in a row on larger screens */
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section {
        flex: 1;
        margin: 10px;
    }
}

@media (min-width: 1024px) {
    .section-row {
        flex-wrap: nowrap; /* Prevent wrapping on large screens */
    }
}
/*input section*/
/* General section styling */
.input-section, .readme-section, .queue-screen {
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ece9fc;
    max-width: 800px; /* Optional: limit the maximum width */
    margin: 0 auto; /* Center the section */
    font-family: "Roboto Mono";
}

/* Input Field Styling */
.input-field-box {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Headings */
.input-head {
    margin-bottom: 5px;
    font-size: 16px;
}

.input-button-container {
    display: flex;
    justify-content: space-between; /* Space between buttons */
    margin-top: 20px;
}
.description-field .input-field-box{
    min-height: 150px;
}
/* Buttons */
.input-button, .input-edit-button {
    padding: 10px 15px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: "Roboto Mono";
    background-color: #5b2bee;
    color: #f9f8fe;
    width: 49%;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    transition: 0.3s;
    &:hover{
        filter: brightness(0.8);
        transform: translateY(-5px);
    }

}

.input-edit-button {
    background-color: #fbd0dc;
    color: #0a0326;
}

/*queue*/
/* Queue Section */
.queue-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ece9fc;
    min-width: 400px;
    max-width: 800px; /* Optional: limit the maximum width */
    margin: 0 auto; /* Center the section */
    font-family: "Roboto Mono";
}

.queue-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ece9fc;
    min-width: 600px;
    margin: 0 auto; /* Center the section */
    font-family: "Roboto Mono";
}


/* Queue Preview (Next in Line and Interviewing Boxes) */
.queue-preview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
    max-height: 250px;
}

.next-in-line-queue-box, .interviewing-queue-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.queue-screen .next-in-line-queue-box, .queue-screen .interviewing-queue-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
}

.interviewing-queue-box {
    background-color: #521fed;
    color: #f9f8fe;
    transition: 0.3s;
    &:hover {
		transform: translateY(-5px);
        filter: brightness(0.8);
	}
    &:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
        filter: brightness(0.8);
	}
}


.next-in-line-queue-box {
    background-color: #f2715a;
    color: #0a0326;
    transition: 0.3s;
    &:hover {
		transform: translateY(-5px);
        filter: brightness(0.8);
	}
    &:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
	}
}

.queue-box-head {
    font-size: 20px;
    margin-bottom: 10px;
}


.line-queue-edit, .int-queue-edit {
    display: flex;
    justify-content: right;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    color: #f9f8fe;
}

.line-queue-edit .icon-button {
    color: #0a0326;
}
.material-icons {
    font-size: 24px;

}

/* Queue List Head */
.queue-list-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.queue-list-head h2 {
    margin-right: 10px;
}

.queue-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.queue-add {
    background: none;
    border: none;
    cursor: pointer;
}

.queue-list {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
}

#queueList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px; /* Set a fixed height for the queue list */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #ece9fc;
    border-radius: 10px;
}

#queueList li {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: #f47196;
    transition: 0.3s;
    &:hover {
        font-size: 18px;
        color: #f9f8fe;
	}
}

/* General styles for the buttons */
.queue-list li .queue-actions button {
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 10px; /* Set icon size */
    border-radius: 5px; /* Add slight rounding to the corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

/* Styles specifically for the edit button */
.queue-list li .queue-actions .edit-btn {
    color: #e8f5e9; /* Green color for the edit button */
}

.queue-list li .queue-actions .edit-btn:hover {
    color: #ece9fc; /* Darker green on hover */
    transform: translateY(-5px);
}

/* Styles specifically for the delete button */
.queue-list li .queue-actions .delete-btn {
    color: #ece9fc; /* Red color for the delete button */
}

.queue-list li .queue-actions .delete-btn:hover {
    color: #e8f5e9; /* Darker red on hover */
    transform: translateY(-5px);
}
/*setting section*/
.setting-section {
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ece9fc;
    max-width: 200px; /* Optional: limit the maximum width */
    margin: 0 auto; /* Center the section */
    font-family: "Roboto Mono";
}

/* Flexbox for alignment */
.timer-container, .breaktime, .sound-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between the elements */
    flex-wrap: wrap;
}
/* Timer display styling */
#timerDisplay {
    font-size: 30px;
    font-weight: bold;
}


/* Time button styling */
.time-button {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Space between buttons */
    margin-top: 20px;
    box-sizing: border-box;
}
.time-button button {
    margin-left: 10px;
    border: none;
    color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    &:hover {
		transform: translateY(-5px);
        filter: brightness(0.8);
	}
    &:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
	}

}

.time-button button i {
    font-size: 20px;

}
#startBtn {
    background-color: #521fed;
}

#stopBtn {
    background-color:#ec1351;
}
#resetBtn {
    background-color: #9f89f5;
}

.breaktime {
    margin-top: 20px;
}
/* Break switch styling */
.break-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.break-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #521fed;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.sound-container {
    flex-wrap: wrap;
    background-color: #f2715a;
    border-radius: 10px;
    margin-top: 10px;
}
/* Sound container styling */
.sound-container select {
    margin-left: 5px;
    padding: 5px;
    font-family: "Roboto Mono";
    display: inline-block;
    width:150px;
    height: 30px;
    background:none ;
    border-style: none;
}

#soundDropdown {
    padding: 5px;
    border-radius: 5px;
    background: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#soundDropdown option {
    background-color: #f2715a;
    transition: 0.3s;
    &:checked, &:hover, &:focus{
        color: #0a0326;
        background-color: #ec3413;
    }
}

#playSoundBtn {
    margin-left: 5px;
    padding: 5px;
    background: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#soundPlayer {
    margin-top: 20px;
    background-color: none;
}


/*User Interface*/
.title-head-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligns items to the top */
    position: relative;
    font-family: "Roboto Mono";
}

.screen-queue-title {
    flex-grow: 1;
}

.screen-queue-title h1 {
    margin: 0;
    font-size: 2rem;
}

.screen-queue-subtitle h4 {
    margin: 0;
    font-size: 1.25rem;
    color: #555; /* Adjust color as needed */
    margin: 20px 0px 50px 50px;
}

.time-break {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 50px;
    margin-top: 20px;
    padding:10px;
    background-color: #ece9fc;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #160647;
    width: 150px;
}

.title-content #timerDisplay {
    font-size: 100px;
    font-weight: bold;
    text-align: right;
}

/* Style for 'Break' state */
.break-background {
    background-color:#f4759a;
    color: #f9f8fe; /* Optional: Change text color to white for better contrast */
    width: 150px;
    text-align:center;
}

.credit {
    font-family: "Roboto Mono";
    color:#b3a6f2;
    background: #0a0326;
    height: 30px;
    font-size: 11px;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    vertical-align: middle;
}

a {
    font-family: "Roboto Mono";
    color: #e8f5e9;
    transition:  300ms ease;
    &:hover {
        text-decoration: solid 2px;

    }
}
